@font-face{
	font-family:BarFont1;
	src:url('../Fonts/UbuntuMono-BI.ttf');
}
@font-face{
	font-family:HeadFont1;
	src:url('../Fonts/Ubuntu-C.ttf')
}
 .Bar2{
	font-family:BarFont1;
	font-size:30px;
	color:#e2e1d9;
} 
.Head1{
	font-family:HeadFont1;
	font-size:50px;
}