#MainHeader{
	background-color:#FFCE28;
	margin:auto; 
	padding-top:2%;
	padding-bottom:2%;
	text-align:center;
	height:100px; 
}
body{
	min-height:100%;
	background-color:#42413D
}
#Bars{
	margin:auto;
	margin-top:10px;
	vertical-align:middle;
	width:100%;
	height:10%;
	position:relative;
	display:inline-block;
}
#wrapper{
	/* height:inherit;
	width:inherit; */
}
#Content{
	margin:auto;
	vertical-align:middle;
	width: 80%;
}
.gallery{
	width:20%;
	height:20%;
}
.MainContent{
	margin:auto;
	margin-top:20px;
	background-color:white;
	width:100%;
	height:auto;
	/* vertical-align:middle; */
	text-align:center;
}
 .Bar2{
	margin:auto;
	text-align:center;
	float:left;  
	width:20%;
	/* position:relative; */
} 
.Head1{
	/* margin:auto; */
	margin-top:0%;
	margin-bottom:0%;
	
}